html, body {
    background-color: #111111;
    padding: 0;
    margin: 0;
}

.canvas-list_wrap {
    width: 100vw;
    height: 100vh;
}


.perspective_view {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    image-rendering: pixelated;
}

.map_view {
    background: rgba(0,0,0,0.5);

    margin: 8px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    image-rendering: pixelated;

    position: absolute;
}
